body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

::-moz-selection { background: #000; color: #fff }
::selection { background: #000; color: #fff }

.defect_box {
  background: #333;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.input_area_container {
  font-size: 32px;
  position: fixed;
  top: 0;
}

.input_area {
  text-align: right;
  width: 150px;
}

input {
  font-size: 32px;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}

input:focus {
  outline: none;
}

.measure_box_container {
  position: fixed;
  bottom: 5px;
  width: 100vw;
  text-align: center;
}

.measure_box {
  width: 500px;
  height: 5px;
  background: rgba(0,0,0,0.8);
  margin: 0 auto;
}

.input_measured {
  text-align: center;
  width: 500px;
  margin-bottom: 5px;
}

.totype {
  background: #fccb8f;
}

.totype:focus {
  background: none;
}

.totype::placeholder {
  color: #fff;
}

.totype:focus::placeholder {
  color: #fccb8f;
}